In [52]:
import pandas as pd
import numpy as np

In [60]:
#Solution:
df = pd.read_csv('../data/interim/Mall_Customers.csv')

In [61]:
# prepare the data
df_cleaned = df.copy()

In [62]:
df_cleaned

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

In [63]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Instantiate a OneHotEncoder with sparse=False and drop='first' and save it to a variable called ohe
ohe = OneHotEncoder(sparse=False, drop='first')

**[3.6]** Fit and transform the `Gender` feature of `df_cleaned` and replace the data into it

In [65]:
#  Fit and transform the `Gender` feature of `df_cleaned` and replace the data into it
df_cleaned['Gender'] = ohe.fit_transform(df_cleaned[['Gender']])
df_cleaned

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       1.0   19                  15                      39
1       1.0   21                  15                      81
2       0.0   20                  16                       6
3       0.0   23                  16                      77
4       0.0   31                  17                      40
..      ...  ...                 ...                     ...
195     0.0   35                 120                      79
196     0.0   45                 126                      28
197     1.0   32                 126                      74
198     1.0   32                 137                      18
199     1.0   30                 137                      83

[200 rows x 4 columns]

In [66]:
# Import split_sets_random, save_sets from src.data.sets
from src.data.sets import split_sets_random, save_sets

In [67]:
# training validation and testing
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_col='Spending Score (1-100)', test_ratio=0.2, to_numpy=False)

In [68]:
# Solution
save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

# Configure MLflow

In [69]:
import mlflow

In [71]:
import mlflow.sklearn

ModuleNotFoundError: No module named 'mlflow.sklearn'